@model Forum.Models.Answer

@{
    ViewData["Title"] = "NewAnswer";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h1>New Answer</h1>
@ViewBag.QuestionTitle

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewAnswer" asp-route-questionId=@ViewBag.QuestionId method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="BodyAnswer" class="control-label"></label>
                <textarea id="BodyAnswer" name="answerBody" asp-for="BodyAnswer" class="ckeditor" rows="200">
                </textarea>
                <span asp-validation-for="BodyAnswer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>

            </div>
            <div>
                 <script>
                $(document).ready(function () {
                    CKEDITOR.replace('#BodyAnswer');
                });
            </script>
            </div>
        </form>
    </div>
</div>
  <p>
     <a  asp-controller="Home" asp-action="Index">Back home</a>
   </p>