@model Forum.Models.Question

@{
    ViewData["Title"] = "AddNewQuestion";

}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h1>Add a New Question</h1>
<hr />
<h4>Title</h4>
<form asp-action="NewQuestion" method="post">
    <select name="questionTag" asp-items="ViewBag.TagsQuestion">Tag</select>

    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="questionTitle" type="text" asp-for="TitleQuestion" required="required" width="500px" />
            </div>
            <h4>Body Text</h4>
            <div>
                <textarea id="BodyQuestion" name="questionBody" asp-for="BodyQuestion" class="ckeditor" rows="200">
                </textarea>

                <span asp-validation-for="BodyQuestion" class="text-danger"></span>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div class="form-group">


                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <script>
                $(document).ready(function () {
                    CKEDITOR.replace('#BodyQuestion');
                });
            </script>

        </div>
    </div>
</form>
<p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
</p>






